---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import getUniqueTags from "@utils/getUniqueTags";
import Tag from "@components/Tag.astro";
import Card from "@components/Card";
import { SITE } from "@config";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"blog">[];
}

const { currentPage, totalPages, paginatedPosts } = Astro.props;

const posts = await getCollection("blog");
let tags = getUniqueTags(posts);
---

<Layout title={`Blogs | ${SITE.title}`} currentPage="posts">
  <Header activeNav="posts" />
  <Main pageTitle="Blogs" pageDesc="All the blogs I've written.">
    <ul>
      {tags.map(({ tag }) => <Tag {tag} size="lg" />)}
    </ul>
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <Card href={`/posts/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/posts${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`/posts/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
